.Xauthority
.antigen/
.bash_history
.cache/
.compose-cache/
.config/
.dbus/
.emacs.d/
.gitconfig
.gnome/
.gtkrc-2.0
.icons
.local/
.nix-defexpr/
.nix-profile
.pki/
.saves/
.ssh/
.viminfo
.wget-hsts
.zcompdump
.zsh_history
Desktop/
init.el
result
