.Xauthority
.antigen/
.bash_history
.cache/
.compose-cache/
.config/
.dbus/
.emacs.d/el-get/
.emacs.d/elpa/
.emacs.d/emacs.desktop
.emacs.d/projectile-bookmarks.eld
.gitconfig
.gtkrc-2.0
.local/
.nix-defexpr/
.nix-profile
.saves/
.ssh/
.viminfo
.wget-hsts
.zcompdump
.zsh_history
Desktop/
init.el
result
